<div class="row">
  <div class="col-sm-8 col-sm-offset-4">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="input-group">
      <label for="text"></label>
      <input
        type="text"
        id="text"
        class="form-control"
        placeholder="Type new comment.."
        name="text" required
        ngModel #text="ngModel"
      >
      <span class="input-group-btn">
          <button
            type="submit"
            class="btn btn-default"
            [disabled]="f.invalid"
          ><i class="fa fa-plus"></i>
          </button>
        </span>
    </div>
    </form>
  </div>
</div>
