<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search.." [(ngModel)]="searchValue">
        </div><br><br>
      </div>
    </div>
    <nav class="menu">
      <ul class="nav metismenu" *ngFor="let patient of patients | idoSearch:searchValue:searchField">
        <li routerLinkActive="active">
          <a [routerLink]="['/healthapp/main', patient.id]"><h5>
            <span *ngIf="patient.sex === 'Male'">
              <i class="fa fa-male" style="color:#52BCD3;font-size:24px"></i>
            </span>
            <span *ngIf="patient.sex === 'Female'">
              <i class="fa fa-female" style="color:#EE6E73;font-size:24px"></i> </span>
            {{ patient.name }}</h5>
            <p> {{ patient.birthdate }}</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
